<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>
		Dogenerator
	</title>
</head>

<body>
	<div style="margin: 10px; position: absolute; TOP: <%= rand(0..400) %>px; LEFT: <%= rand(0..500) %>px">
		<font size="<%=rand(2..5)%>px">
			<%= text %>
			<%= $question_num%>
			<%= $counter%>
		</font>
	</div>
	<div id="container">
	<form action="/" method="get">
			<input id="button" type="submit" value="next">
	</form>
	</div>
</body>
</html>
